.hero {
  position: relative;
  height: 100vh;
  z-index: 100;
  background-image: url('https://images.pexels.com/photos/5156/people-eiffel-tower-lights-night.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 2rem;
}

.home-main-container {
  background:linear-gradient(to right, #1f1c2c, #928dab);
  color: #fff;
  height: 100%;
}
.sign-u {
    color: #000;
    opacity: .75;
}

.quick-info {
  width: 90%;
}
.p-copy{
    width: 80%;
}

.title-deco {
  border-bottom: #fff 2px solid;
}

.text-shadow {
  text-shadow: 2px 2px #c3c3c338;
}